@media (max-width:  768px) {
	.title-header h1 {
		font-family: 'Manrope', sans-serif;
		font-weight: 900;
		font-size: 28px;
	}
	iframe {
		height: -webkit-fill-available;
	}
	.w-85 {
		width: 45%;
	}
	.paket p {
		width: 100%;
		margin: 10px auto 20px;
		text-align: center;
	}
	.paket .col-md-4.text-center {
		margin-bottom: 40px;
		width: 90% !important;
		margin: 10px auto 10px;
	}
	.sustainable .col-md-6 {
		margin-bottom: 20px;
	}
	.sustainable .col-md-6:last-child {
		margin-bottom: 0px;
	}
	.sustainable .card {
		text-align: center;
	}
	.sustainable .col-md-8 {
		padding-top: 10px;
	}
	footer .col-md-3 {
		margin-top: 20px;
	}
}